<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FinalDatabaseProjectStephenWaldron.Properties.Settings.MOVIEConnectionString"
            connectionString="Data Source=LAPTOP-SECF3OTP\SQLEXPRESS;Initial Catalog=MOVIE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>